.list-container {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  align-items: center;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
}

.list-name-h3 {
  margin: 10px;
  font-size: 2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.add-card-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background 0.3s ease-in-out;
  margin: 10px;
}

.add-card-btn:hover {
  background-color: #45a049;
}

.add-card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #333842;
  padding: 10px;
  border-radius: 5px;
}

.card-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background: white;
  color: black;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.list-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-actions button {
  background-color: #f44336;
  color: white;
  margin: 10px;
  border: none;
  padding: 6px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.list-actions button:hover {
  background-color: #e53935;
}

.list-content {
  width: 100%;
  background-color: rgba(176, 176, 176, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.list-edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #333842;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}