/* Light Theme */
.App.light {
  --bg: #dddddd;
  --text: #000000;
  --btn-primary-bg: #007bff;
  --btn-primary-color: white;
  --btn-secondary-bg: #b22222;
  --btn-secondary-color: white;

  background-color: var(--bg);
  color: var(--text);
}

/* Layout */
.App-main.light {
  background-color: #f5f5f5;
  color: var(--text);
}

/* Navigation */
/* .Header-nav.light {
  background-color: #b6b6b6;
} */

.App-header.light,
.App-intro.light,
.App-footer.light {
  background-color: #b6b6b6;
  color: var(--text)
}

.Menu-toggle.light,
.privacy-footer-link.light {
  color: var(--text);
}

/* Dashboard */
.dashboard-container.light {
  background-color: #f5f5f5;
  color: var(--text);
}

.dashboard-sidebar.light {
  background-color: #c8c8c8;
  color: var(--text);
}

/* Contact Cards */
.Contact-LinkedIn.light,
.Contact-GitHub.light,
.Contact-Email.light {
  background-color: #f5f5f5;
}

.Contact-LinkedIn a.light,
.Contact-GitHub a.light,
.Contact-Email a.light {
  color: #1e1e1e;
}

.Contact-LinkedIn a:hover.light,
.Contact-GitHub a:hover.light,
.Contact-Email a:hover.light {
  color: #007bff;
}

/* Board UI */
.board-grid-container.light,
.board-card-header.light {
  background-color: inherit;
  color: var(--text);
}

.board-card.light {
  background-color: #f9f9f9;
}

.board-card.light:hover {
  background-color: #e6e6e6;
}

/* Modal & Form Inputs */
.modal-content.light {
  background-color: #f5f5f5;
  color: var(--text);
}

.list-input.light {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #444;
}

.Logout-button.light {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-color);
}
