@import "./../styles/App.theme.light.css";
@import "./../styles/App.theme.ember.css";
@import "./../styles/App.theme.dark.css";

.board-detail-container {
  width: 100vw;
  margin: 20px 0;
  padding: 20px;
  color: inherit;
  background-color: inherit;
  position: relative;
}

.board-header {
  display: flex;
  background-color: inherit;
  color: inherit;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.back-button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.lists-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 15px;
  background-color: inherit;
  border-radius: 8px;
  gap: 20px;
  margin-bottom: 20px;
}

.list-container {
  margin: 10px 0;
}

.add-list-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: inherit;
  color: inherit;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  align-items: center;
}

.add-list-button {
  max-height: 300px;
}

.list-input {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.board-detail {
  padding: 20px;
  color: inherit;
}

.back-to-dash-btn {
  align-items: end;
}

@media (max-width: 768px) {
  .lists-container {
    flex-direction: column;
    align-items: center;
  }
}
