@import "./../styles/App.theme.light.css";
@import "./../styles/App.theme.ember.css";
@import "./../styles/App.theme.dark.css";

.FAQ-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}

.FAQ-Title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: inherit;
}

.FAQ-Questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.FAQ-Item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.FAQ-Question {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: inherit;
}

.FAQ-Answer {
  font-size: 1.1rem;
  color: inherit;
  margin-top: 5px;
  padding-left: 20px;
  line-height: 1.5;
}
