@import "../../styles/App.theme.light.css";
@import "../../styles/App.theme.ember.css";
@import "../../styles/App.theme.dark.css";

.App-header {
  min-height: 8vh;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  justify-content: space-between;
  position: relative;
}

.theme-switcher-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.Header-logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.Menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 30;
}

.Header-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  white-space: nowrap;
  z-index: 20;
  transform: translateX(100%);
  background-color: inherit;
}

.Header-nav.open {
  width: fit-content;
  height: 100%;
  padding: 0 50px 0 15px;
  transform: translateX(0);
  /* background-color: rgba(0,0,0,0.9); */
}

.Header-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.Header-list li {
  display: inline;
  height: 100%;
}

.Header-list a {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px;
}

.Header-list a:hover {
  text-decoration: underline;
}

.Logout-button {
  background-color: #b22222;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.Logout-button:hover {
  background-color: #a11d1d;
}

@media (max-width: 768px) {
  .Header-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    /* background-color: rgba(24, 23, 31, 0.95); */
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .Header-nav.open {
    width: 100vw;
    padding: 0 10px;
    transform: translateX(0);
  }

  .Header-list {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .Menu-toggle {
    position: absolute;
    right: 10px;
    z-index: 40;
  }

  .Menu-toggle.open::before {
    /* content: "×"; */
    font-size: 2rem;
  }
}
