@import "../../styles/App.theme.light.css";
@import "../../styles/App.theme.ember.css";
@import "../../styles/App.theme.dark.css";

.App-footer {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.privacy-footer-link {
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
}
